/* Control Panel */

/*  Synth Display */
.synth-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
}

.synth-grid {
    display: inline-grid;
    grid-template-columns: repeat(8, 110px);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 6px;
    background-color: black;
    border: 6px solid black;

}

.key {
    /* border: 6px solid black; */
    background: midnightblue;
    height: 110px;
    width: 110px;
}

/* Buttons */
button:hover:not(.disabled) {
    cursor: pointer;
}

.disabled {

}